// Color palette dark mode
$primDarkColor: rgb(43, 43, 43) ;
$secDarkColor: rgb(238, 155, 2);

$navColor:  rgb(32, 32, 32);
$logoColor: rgb(29, 29, 29);

$textDarkColor: rgb(245, 245, 245);

//color palette light mode
$primLightColor: rgb(250, 250, 250);
$secLightColor: $secDarkColor;

$textLightColor: rgb(10, 10, 10);
